.card{
            display: flex;
            flex-direction: column;
            max-height: 23rem;
            padding: $sp1 0 $sp5 0;
             margin-top: $sp1;
            margin-left: $sp1;
            margin-right: $sp1; 
            box-shadow: -3px 4px 6px 7px rgba(192,237,235,1);
            @media screen and (min-width:680px){
               display: flex;
               flex-direction: row;
               width: 1400px;
               box-shadow: -3px 4px 6px 7px rgba(192,237,235,1);
             
            }
            .card__img{
                @media screen and (min-width:680px){
                    display: flex;
                    width: 172px;
                   
                }
            }
            &__column--left{
                border-bottom:solid 1px $dark-grayish-cyan;
                @media screen and (min-width:680px){
                    display: flex;
                    flex-direction: row;
                    border-bottom: none;
                    
                }

            }
            &__column--rigth{
                margin:$sp2 0;
                @media screen and (min-width:680px){
                    display: flex;
                    margin-left: 17rem;
                }
                
            }
            &__info {
                    display: flex;
                    flex-direction: column;
                    @media screen and (min-width:680px){
                        display: flex;
                        margin: 0 $sp4;
                    }
               }
         &__title{
            margin:$sp0 0;
         }   
        &__subtitle{
            display: flex;
            margin:$sp0 0;
           
           
        }
        &__subtitle__texts{
            color:$desaturated-dark-cyan;
            font: weight $weights1;
        }
        &__detail{
            display: flex;
            margin:$sp0 0;
            color:$dark-grayish-cyan;
            &__item{
                margin:$sp0;
            }
        }
        &__tag{
            margin:0 $sp1;
           line-height: $sp3;
           color: $desaturated-dark-cyan;
           font-weight:$weights2;
        }

    }
   
    .badge{
        border-radius: 25px;
        font-weight: 700;
        color: #eef6f6;
        height: 1.50rem;
        padding: 2px 9px 25px 0px;
        &--black{
            background: black;
            }
            &--primary{
                background:$desaturated-dark-cyan ;
                margin:0 $sp0;
            }
    }
        
    
